.daily-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
}
.daily-todo-list-card {
  background: #fff;
  color: #333;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  position: relative;
  width: 270px;
}
.daily-todo-list-card:hover {
  transform: rotate(3deg);
}
.daily-todo-list-card h2 {
  color: #555;
  margin-bottom: 6px;
  font-size: 20px;
}
.daily-list-note {
  color: #999;
  font-size: 15px;
}

.daily-list-hour {
  font-size: 18px;
}
