.daily-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
}
.daily-list-card {
  background: #fff;
  color: #333;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  position: relative;
  width: 270px;
}

.daily-todo-list-card:hover {
  transform: rotate(3deg);
}

.daily-list-title {
  color: #555;
  margin-bottom: 6px;
  margin-left: 1px;
  font-size: 18px;
  margin-top: 10px;
  display: inline-flex;
  text-transform: capitalize;
}

.todo-check-box {
  width: 12px;
  height: 12px;
  margin-top: 6px;
}

.daily-list-note {
  color: #999;
  font-size: 15px;
  margin-bottom: 2px;
  text-transform: capitalize;
}

.daily-list-hour {
  font-size: 13px;
}

.daily-list-button {
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-bottom: 0px;
  background-color: rgb(10, 0, 0);
  height: 15px;
}

.todo-card-color-pick {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 1px;
}
.red-button {
  background-color: red;
  border-radius: 50%;
  border: none;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 1px;
}
.blue-button {
  background-color: blue;
  border-radius: 50%;
  border: none;
  margin-left: 1px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 1px;
  left: 13px;
}
.green-button {
  background-color: green;
  border-radius: 50%;
  border: none;
  margin-left: 1px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 1px;
  left: 28px;
}

.todo-list-close-button {
  background-color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 16px;
}

.todo-title-strike {
  text-decoration: line-through;
}
