.create-todo {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
}
.create label span {
  display: block;
  margin: 30px 0 10px;
}

.add-daily-todo-button {
  display: block;
  width: 100px;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}

.daily-title {
  background-color: #58249c;
}
.daily-hour {
  background-color: #58249c;
  width: 115px;
}
.daily-note {
  background-color: #58249c;
}
